<form class="row g-3 needs-validation" autocomplete="off"
  [formGroup]="positionForm" (ngSubmit)="crearCargo()">
  <div class="col-md-8">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom01" formControlName="carnombre">
    <div class="row">
      <div class="col text-danger">
        <p *ngIf="campoNoValido('carnombre')" > El campo nombre es obligatorio</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>
  <div class="col-md-3">
    <a routerLink="/dashboard/position-list" routerLinkActive="router-link-active"
    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Cancelar</a>
  </div>


</form>

