<div class="row page-titles">
  <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Listado de Usuarios</h3>
  </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Usuarios</h4>
              <a routerLink="/dashboard/user" routerLinkActive="router-link-active"  class="btn waves-effect waves-light btn-info hidden-md-down text-white"> Nuevo</a>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Código</th>
                              <th>Nombre</th>
                              <th>Edad</th>
                              <th>Cargo</th>
                              <th></th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let user of users">
                              <td>{{ user.usucodigo }}</td>
                              <td>{{ user.usunombre }}</td>
                              <td>{{ user.usuedad }}</td>
                              <td>{{ user.usucargo }}</td>
                              <td>
                                <a href="">Editar</a>
                              </td>
                              <td>
                                <a href="">Eliminar</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

