<form class="row g-3 needs-validation" autocomplete="off"
  [formGroup]="userForm" (ngSubmit)="crearUsuaio()">
  <div class="col-md-2">
    <label for="validationCustom01" class="form-label">Código</label>
    <input type="text" class="form-control" id="validationCustom01" formControlName="usucodigo">
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom02" formControlName="usunombre">
  </div>
  <div class="col-md-2">
    <label for="validationCustom03" class="form-label">Edad</label>
    <input type="text" class="form-control" id="validationCustom03" formControlName="usuedad">
  </div>
  <div class="col-md-4">
    <label for="validationServer04" class="form-label">Cargo</label>
    <select class="form-select" id="validationServer04" formControlName="usucargo">
      <option selected disabled value="">Seleccione</option>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
  </div>

  <div class="col-md-4">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>
  <div class="col-md-3">
    <a routerLink="/dashboard/user-list" routerLinkActive="router-link-active"
    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Cancelar</a>
  </div>
</form>
