<form class="row g-3 needs-validation" autocomplete="off"
  [formGroup]="productForm" (ngSubmit)="crearProducto()">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom01" formControlName="pronombre">
    <div class="row">
      <div class="col text-danger">
        <p *ngIf="campoNoValido('pronombre')" > El campo nombre es obligatorio</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom02" class="form-label">Cantidad</label>
    <input type="text" class="form-control" id="validationCustom02" formControlName="procantidad">
    <div class="row">
      <div class="col text-danger">
        <p *ngIf="campoNoValido('procantidad')" > El campo Cantidad es obligatorio</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom03" class="form-label">Fecha Ingreso</label>
    <input type="text" class="form-control" id="validationCustom03" formControlName="pronewfec">
    <div class="row">
      <div class="col text-danger">
        <p *ngIf="campoNoValido('pronewfec')"> El campo fecha de ingreso no es válido</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer04" class="form-label">Usuario</label>
    <select class="form-select" id="validationServer04" formControlName="pronewuser">
      <option selected disabled value="">Seleccione</option>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
    <div class="row">
      <div class="col text-danger">
        <p *ngIf="campoNoValido('pronewuser')">  Debe seleccionar un Usuario</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>
  <div class="col-md-3">
    <a routerLink="/dashboard/product-list" routerLinkActive="router-link-active"
    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Cancelar</a>
  </div>
</form>
