<!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" routerLink="/dashboard/product-list" routerLinkActive="router-link-active"  aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Productos</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLink="/dashboard/user-list" aria-expanded="false"><i
                            class="mdi mdi-account-check"></i><span class="hide-menu">Usuarios</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLink="/dashboard/position-list" aria-expanded="false"><i
                            class="mdi mdi-table"></i><span class="hide-menu">Cargos</span></a></li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
